body {
    font-size: 14px;
    cursor: default;
<<<<<<< HEAD
    overflow: hidden;
=======
    overflow:hidden;
>>>>>>> d2425f5ede27435f4ce6693cccfd64e80d43ae13
}

h4,h5{
    text-align: center;
    vertical-align:center;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


#tab1{
    background-color:black;
    background-size: 100%;
}

.earth{
    opacity: 0.6;
}
.bar {
    fill: purple;
    opacity: 0.8;
}
.bar:hover{
    fill:purple;
    opacity:1;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}



#tooltipInfo {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
    color: white;
}




