body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: default;
    background:lightyellow;
}

h4,h5{
    text-align: center;
    vertical-align:center;
}

span {
    display:inline-block;
    vertical-align:middle
}


.bar {
    float: left;
    width: 15px;
}

#color {
    visibility: hidden;
}

